﻿@using Clinic.Web.ViewModels.Doctor.Dashboard;

@model IndexViewModel

﻿<div class="row">
    <div class="jumbotron col-md-12">
        @if (Model.ClinicId != null)
        {
            <div class="heading-container bottom-buffer-md">
                <h1>This is the Doctor panel for @Model.ClinicName!</h1>
            </div>

            <h2> Add a new patient -</h2>
            <div class="button-holder">
                <a href="/Doctor/Dashboard/AddPatient?clinicId=@Model.ClinicId" class="btn btn-info text-uppercase">Add Patient</a>
            </div>

            <div class="button-holder">
                <a href="/Doctor/Dashboard/List?clinicId=@Model.ClinicId" class="btn btn-info text-uppercase">Patients List</a>
            </div>

            <h2> Add a new diagnostic to @Model.ClinicName -</h2>
            <div class="button-holder">
                <a href="/Doctor/Dashboard/AddDiagnosticToClinic?clinicId=@Model.ClinicId" class="btn btn-info text-uppercase">Add Diagnostic</a>
            </div>

            <div class="button-holder">
                <a href="/Doctor/Dashboard/DiagnosticsList?clinicId=@Model.ClinicId" class="btn btn-info text-uppercase">Diagnostics List</a>
            </div>
        }
        else
        {
            <div>
                <h1>You are currently not in a clinic. Ask an administrator to add you in one.</h1>
            </div>
        }

    </div>
</div>
